*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0 auto;
  padding: 0;
}
.body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 1440px;
  height: 3330px;
}
img{
  display: block;
}

.header{
  border-bottom: 1px solid #e7e9fc;
}
.header-container{
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding-left: 120px;
  border-bottom: 1px solid;
  width: 1440px;
}
.page-logo-title {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  height: 24px;
  line-height: 21px;
  font-family: "Raleway";
  text-decoration: none;
}
.header-logo {
  color: #2e2f42;
}

.header-nav .page-menu-list {
  list-style-type: none;
  display: flex;
  margin-right: auto;
  gap: 40px;
}
.page-menu-list li {
  margin-left: 33px;
}
li .menu .menu-studio {
  padding: 24px 0;
}
.page-menu-list a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2px;
  color: #2e2f42;
  text-decoration: none;
  font-family: "Roboto";
  margin-right: 76px;
}
.page-menu-list a:hover {
  color: #404bbf;
}
.page-menu-list a:active {
  color: #404bbf;
  text-decoration: underline;
}
.contact-list .page-link {
  list-style-type: none;
  padding-right: 80px;
  display: flex;
  gap: 40px;
}
.page-link a {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 24px;
  color: #2e2f42;
  text-decoration: none;
  margin-left: 50px;
}
.page-link a:hover {
  color: #404bbf;
  text-decoration: underline;
}

.section-title {
  background-color: #2e2f42;
  font-family: "Roboto";
  height: 700px;
  display: flex;
  justify-content: center;
  width: 1440px;
  padding: 188px 0;
}
.section-title .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-class .title {
  font-weight: 700;
  line-height: 60px;
  font-size: 56px;
  color: #ffffff;
  text-align: center;
  max-width: 496px;
}

.main-class .button {
  font-weight: 500;
  cursor: pointer;
  line-height: 24px;
  font-size: 16px;
  background-color: #4d5ae5;
  color: #ffffff;
  margin-top: 20px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  min-width: 169px;
  height: 56px;
  border: none;

}
.main-class button:hover {
  background-color: #404bbf;
}

.container {
  width: 1158px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 156px;
}
.section-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 37px;
}
.section-info h3 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2px;
  color: #2e2f42;
}
.section-info p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #434455;
}
.section-team {
  background-color: #f4f4fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 732px;
  border: 1px #E7E9FC;
  padding: 0 120px;

}
.section-team h2 {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 55px;
  color: #2e2f42;
}
.section-team h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 20px;
}
.section-team p {
  font-size: 1em;
  font-weight: 400;
  line-height: 24px;
}
.team-img h3:hover {
  color: #404bbf;
}
.team-img h3,
p {
  height: 50px;
}
.team-img {
  list-style-type: none;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 32px;
}
.team-img li {
  background-color: #ffffff;
}
.card-team1 {
  box-shadow: 1px 1px 3px;
}
.card-team2 {
  box-shadow: 1px 1px 3px;
}
.card-team3 {
  box-shadow: 1px 1px 3px;
}
.card-team4 {
  box-shadow: 1px 1px 3px;
}
.section-portfolio {
  text-align: center;
}
.section-portfolio h2 {
  font-size: 2em;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin-bottom: 70px;
}
.section-portfolio h3 {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 24px;
  padding-top: 20px;
}
.list-portfolio h3:hover {
  color: #404bbf;
}
.section-portfolio p {
  font-size: 1em;
  font-weight: 400;
  line-height: 24px;
}
.section-portfolio li {
  border-bottom: 1px solid #e7e7fc;
}
.list-portfolio {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 39px;
  flex-wrap: wrap;
}
.list-portfolio li {
  margin-bottom: 20px;
}
.list-portfolio h3 {
  height: 50px;
  text-align: left;
  border-left: 1px solid #e7e7fc;
  border-right: 1px solid #e7e7fc;
}
.list-portfolio p {
  text-align: left;
  border-left: 1px solid #e7e7fc;
  border-right: 1px solid #e7e7fc;
}
.footer-class {
  background-color: #2e2f42;
  height: 312px;
  text-align: left;
  padding: 90px;
  width: 1440px;
}
footer a {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #4d5ae5;
  font-family: "Raleway";
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  margin-left: 156px;
}
.footer-logo {
  color: #f4f4fd;
  
}
footer p {
  font-size: 1em;
  font-weight: 400;
  line-height: 24px;
  color: #f4f4fd;
  max-width: 290px;
  margin-left: 156px;
}
